<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analyzer Chatbot</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1,
        h2,
        h3 {
            color: #333;
        }

        form {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <h1>Upload a CSV file for Analysis</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% if description %}
    <div>
        <h2>Data Description</h2>
        {{ description | safe }}
    </div>
    {% endif %}
    {% if ai_response %}
    <div>
        <h2>Details</h2>
        <p>{{ ai_response }}</p>
    </div>
    {% endif %}
    {% if plots %}
    <div>
        <h2>Data Visualizations</h2>
        {% for plot_type, plot_path in plots %}
        <div>
            <h3>{{ plot_type.capitalize() }} Plot {{plot_path}}</h3>
            <img src="{{ url_for('static', filename=plot_path) }}" alt="{{ plot_type }} plot">
        </div>
        {% endfor %}
    </div>
    {% endif %}
</body>

</html>