<!DOCTYPE html>
<html>
    
    <head>
        <title>Example</title>
    </head>
    <body>
        <h1 align="center">Welcome to Example</h1>

        {% block content %}
        <div>

            {% for ofc in offices %}
            <div>
                <span>@{{ofc.host.username}}</span>
                <h4>{{ofc.id}} -------<a href=" {% url 'p1' ofc.id %} ">{{ofc.name}}</a> </h4>
                <small>{{ofc.company}}</small>
                <hr>
            </div>
            {% endfor %}
        </div>

        


        {%endblock content%}

    </body>
</html>