<html lang="en">
<head>
    <title>Register</title>
</head>
<style>
    
</style>
<body>
    <h1>Register</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="U_form">
            {{form.username.label}}:{{form.username}}<br><br>
            {{form.email.label}}:{{form.email}}<br><br>
            {{form.password1.label}}:{{form.password1}}<br><br>
            {{form.password2.label}}:{{form.password2}}<br><br>
            {{form.is_admin.label}}:{{form.is_admin}}<br><br>
            <input type="submit" value="Register"><br><br>

            <a href="{% url 'login' %}">Already have an account, Login..</a>
        </div>
    </form>
</body>
</html>