<!DOCTYPE html>
    <html>
        <title>Search Relevent Products</title>
        <style>
            img{
                height: 200px;
                width: 200px;
            }
        </style>
        <body bgcolor="black">
            <h1 align='center' style="color: orange;">Get Relevent Products on One Click</h1>


            <img src="{{imglink.0}}" alt="Failed To load Image">
            <!-- <figcaption style="color: aqua;">{{names.0}}</figcaption> -->
            <img src="{{imglink.1}}" alt="Failed To load Image">
            <!-- <figcaption style="color: aqua;">{{names.1}}</figcaption> -->
            <img src="{{imglink.2}}" alt="Failed To load Image">
            <!-- <figcaption style="color: aqua;">{{names.2}}</figcaption> -->
            <img src="{{imglink.3}}" alt="Failed To load Image">
            <!-- <figcaption style="color: aqua;">{{names.3}}</figcaption> -->
            <img src="{{imglink.4}}" alt="Failed To load Image">
            <!-- <figcaption style="color: aqua;">{{names.4}}</figcaption> -->
            
        </body>
    </html>